<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" packages="org.logger">
    <Appenders>
		<ConsoleAppender name="CONSOLELogger">
			<PatternLayout>
                <ScriptPatternSelector defaultPattern="%d{dd/mmm/yyyy HH:mm:ss} - %-5p - %m%n">
                    <Script name="selector" language="groovy"><![CDATA[
                    	return org.apache.logging.log4j.LogManager.getRootLogger().getLevel().toString();]]>
                    </Script>
                    <PatternMatch key="DEBUG" pattern="%d{dd/mmm/yyyy HH:mm:ss} - %-5p - (%F:%L) - %m%n" />
                </ScriptPatternSelector>
            </PatternLayout>
        </ConsoleAppender>
		<TextAreaAppender name="GUILogger">
			<PatternLayout>
                <ScriptPatternSelector defaultPattern="%d{dd/mmm/yyyy HH:mm:ss} - %-5p - %m%n">
                    <Script name="selector" language="groovy"><![CDATA[
                    	return org.apache.logging.log4j.LogManager.getRootLogger().getLevel().toString();]]>
                    </Script>
                    <!-- INFO and DEBUG are using the defaultPattern -->
                    <PatternMatch key="DEBUG" pattern="%d{dd/mmm/yyyy HH:mm:ss} - %-5p - (%F:%L) - %m%n" />
                </ScriptPatternSelector>
            </PatternLayout>
        </TextAreaAppender>
		<StringBuilderAppender name="StringLogger">
            <PatternLayout pattern="%d{dd/mmm/yyyy HH:mm:ss} - %-5p - %m%n"/>
        </StringBuilderAppender>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="GUILogger">
            	<ScriptFilter onMatch="ACCEPT" onMisMatch="DENY">
						<Script language="groovy"><![CDATA[
         					return System.getProperty("enableGUI", "false").equalsIgnoreCase("true");
      					]]></Script>
      			</ScriptFilter>
            </AppenderRef>
            <AppenderRef ref="CONSOLELogger">
                    <ScriptFilter onMatch="ACCEPT" onMisMatch="DENY">
						<Script language="groovy"><![CDATA[
         					return System.getProperty("enableConsole", "false").equalsIgnoreCase("true");
      					]]></Script>
    			</ScriptFilter>
            </AppenderRef>
            	<AppenderRef ref="StringLogger">
            </AppenderRef>
        </Root>
    </Loggers>
</Configuration>